AddType image/svg+xml svg
AddType image/svg+xml svgz

<Files "config.php">
    Require all denied
</Files>

<IfModule alias_module>
    RedirectMatch 404 /\.git
    RedirectMatch 404 /\.editorconfig
    RedirectMatch 404 /cache
</IfModule>
